extends ../layouts/default

block intro
	.container
		h1 Contact Us

block content
	div(style="text-align: center;")
		img(style="border-radius: 50%; width: 10em; height: auto;" src="/images/me.jpg")
	
	p(class="about-me"). 
		Hey there! My name is Mayas Haddad :) I write code most of the time. And when I don't write code, I usually talk and exchange about it.

	p(class="about-me"). 
		I currently work and live in the beautiful area of Paris.

	p(class="about-me"). 
		My favourite programming language is Javascript. I started to seriously dive into it not long ago actually and I'm very happy with the active community around it.

	p(class="about-me"). 
		By this blog, I will try the best I can to provide you with a decent quality feedback about my different experiences related to the actual process of producing software.

	p(class="about-me"). 
		When I say "related", this ranges from writing code to very broad topics such as
		philosophy or psychology of user experience.

	p(class="about-me"). 
		But, worry not, it will stay relevant and practical. You will judge by yourself, anyway. 

	p(class="about-me"). 
		Please, feel free to use this array of platforms to know more about me and what I do:

	p(style="text-align: center")
		a(href="https://github.com/MayasHaddad")
			img(src="/images/github13.png" style="margin-left: 2em;")
		a(href="https://www.linkedin.com/pub/mayas-haddad/62/190/66")
			img(src="/images/linkedin11.png" style="margin-left: 2em;")
		a(href="http://stackoverflow.com/users/3432383/mayas?tab=profile")
			img(src="/images/stack18.png" style="margin-left: 2em;")
		a(href="https://twitter.com/mayasHaddad")
			img(src="/images/twitter1.png" style="margin-left: 2em;")

	div	Icons made by 
		a(href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes")	Elegant Themes
		a(href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon")
			SimpleIcon
		a(href="http://www.freepik.com" title="Freepik")
			Freepik
		a(href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu")
			Bogdan Rosu from
		a(href="http://www.flaticon.com" title="Flaticon")
			www.flaticon.com            
		is licensed by 
		a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0") CC BY 3.0
	
	script(type='text/javascript').
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-68708726-1', 'auto');ga('send', 'pageview');
